{% extends 'mainapp/base_template.html' %}

{% block content %}
	<article class="article-system">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-5 mx-auto m-2 p-3 border article-system-bg-white">
					<hr>
					<h2 class="text-primary text-center">Check your mailbox</h2>
						<p>
							We've emailed you instructions for setting your password. 
							If they haven't arrived in a few minutes, check your spam folder.
						</p>	
					<hr>			
				</div>
			</div>
		</div>
	</article>

{% endblock %}