{% extends 'mainapp/base_template.html' %}

{% block content %}
	<article class="article-system">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-5 mx-auto m-2 p-3 border article-system-bg-white">
					<hr>
					<h2 class="text-primary text-center">Password reset is not avaliable now</h2>
					<div class="mb-3">
						<h3>Please go to report issue page, choose the category other and send your issue to us. We will help you to reset your password</h3>

						<a href="{% url 'mainapp:secutiry-report-bug' %}" class="btn btn-primary text-end">Go to report an issue page</a>
					</div>
					{% if form.errors %}
					    {% for field in form %}
					        {% for error in field.errors %}
					            <div class="alert alert-danger mt-3">
					                {{ error|escape }}
					            </div>
					        {% endfor %}
					    {% endfor %}
					    {% for error in form.non_field_errors %}
					        <div class="alert alert-danger">
					            {{ error|escape }}
					        </div>
					    {% endfor %}
					{% endif %}			
					<hr>			
				</div>
			</div>
		</div>
	</article>

{% endblock %}