{% extends 'mainapp/base_template.html' %}
{% load crispy_forms_tags %}

{% block content %}
<article>
<div class="row container-fluid">
	<div class="col-md-9 mb-3 mt-3">
		<div class="card card-body">
			<h1 class="text-primary">Create a new discussion</h1>
			<form method="POST" action="">
				{% csrf_token %}


				{{form.media}}



				{{form|crispy}}

				<input class="btn btn-primary" type="submit" name="" value="Create new discussion">
			</form>
		</div>
	</div>

	{% include 'forum/forum_navigation_sidebar.html' %}
</div>
</article>
{% endblock %}

