{% extends 'mainapp/base_template.html' %}
{% load static from static %}

{% block content %}

<article>
	<div class="row container-fluid">
		<div class="col-md-9 mt-3 mb-3">

			<div class="card card-body post forum-post-image">
				<hr>
				{% if object.topic == "Important" %}
				<h2 class="text-danger text-center bg-light">{{object.name}}</h2>
				{% else %}
				<h2 class="text-primary text-center bg-light">{{object.name}}</h2>
				{% endif %}
				<hr>
				<p class="bg-light">Topic: {{object.topic}}</p>
				<p class="bg-light">Tags: 
					<ul>
				        {% for tag in object.tags.all %}
				            <li class="tag"> {{ tag.name }} </li>
				        {% endfor %}
        			</ul>
    			</p>

    			<hr>
    			
    				{{object.content|safe}}
    			
				
				
				<hr>

				{% if request.user.id == object.user.id or request.user.is_staff %}
				
					<a class="btn btn-dark btn-sm" href="{% url 'forum:forum-update-post' object.id %}">Edit post</a>
					<a class="btn btn-dark btn-sm" href="{% url 'forum:forum-delete-post' object.id %}">Delete post</a>
				{% endif %}
				<i class="p-3 text-end">{{object.date_created}}</i>
			</div>
			{% for comment in object.post_comment.all %}
			<div class="card card-body mb-3 post forum-post-image">
				<p>
					{{comment.user.username}}
				</p>
				<p>
					{{comment.citation.text}}
				</p>
				<p>
					{{comment.content|safe}}
				</p>
				<p>
					{{comment.date_created}}
				</p>
			</div>
			{% endfor %}
			{% if request.user.is_authenticated %}
			<div class="card card-body">
				<form method="Post" action="">
					{% csrf_token %}




					<input class="btn btn-primary" type="Submit" name="" value="Post a comment">
				</form>
			</div>
			{% else %}
			To be able to post a comment, please <a href="{% url 'authentication:login' %}">login</a>
			{% endif %}
		</div>
		{% include 'forum/forum_navigation_sidebar.html' %}
	</div>
</article>




{% endblock %}