{% extends 'mainapp/base_template.html' %}

{% block content %}
	<article class="article-system">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-5 mx-auto m-2 p-3 border article-system-bg-white">
					<hr>
					<h2 class="text-primary text-center">Password reset</h2>
					<form action="" method="POST">
						{% csrf_token %}
						<div class="mb-3">
						    <label for="email" class="form-label">Email address</label>
						    <input name="email" type="email" class="form-control" id="email" aria-describedby="emailHelp">
						    <div id="emailHelp" class="form-text">Enter your account email address</div>
					  	</div>								

						<input type="submit" class="btn btn-primary text-end" value="Reset password">
					</form>
					{% if form.errors %}
					    {% for field in form %}
					        {% for error in field.errors %}
					            <div class="alert alert-danger mt-3">
					                {{ error|escape }}
					            </div>
					        {% endfor %}
					    {% endfor %}
					    {% for error in form.non_field_errors %}
					        <div class="alert alert-danger">
					            {{ error|escape }}
					        </div>
					    {% endfor %}
					{% endif %}			
					<hr>			
				</div>
			</div>
		</div>
	</article>

{% endblock %}