	<section>
		<div class="row gx-5 container-fluid">
			<div class="col-md-1">
			</div>

			<div class="col-md-10 pt-5 pb-5">
				<hr>
				<h2 class="text-primary text-center">Try out bowstalcraft</h2>
				<hr class="mb-5">
				<div class="card mb-2">
					<div class="row g-0">
						<div class="col-md-8 p-3">
							<h5 class="card-title text-success"><span class="text-primary">Free</span> 0$/month</h5>
							<div class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore in omnis tenetur veritatis corporis perspiciatis sapiente deleniti accusamus incidunt aliquam quam eaque iusto nostrum placeat, fuga pariatur! Repellat eum, quae magni distinctio dolorum provident fugiat nesciunt accusantium non laborum molestiae perspiciatis officia impedit vitae, est esse voluptatum aliquam ut sed, similique sint tempore optio officiis? Ad eum error voluptatibus deleniti harum vero dolorum quo voluptatum nam, at officiis ea voluptatem magni dolore nesciunt perferendis? Dolore nisi suscipit voluptatibus minus ut, facere modi debitis.</div>
						</div>
						<div class="col-md-4">
							<div class="bg-image hover-zoom">
								<img class="img-fluid w-100" src="{% static 'images/easy.png' %}">
							</div>
						</div>
					</div>
				</div>
				<div class="card mb-2">
					<div class="row g-0">
						<div class="col-md-8 p-3">
							<h5 class="card-title text-success"><span class="text-primary">Commercial</span> 15$/month </h5>
							<div class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore in omnis tenetur veritatis corporis perspiciatis sapiente deleniti accusamus incidunt aliquam quam eaque iusto nostrum placeat, fuga pariatur! Repellat eum, quae magni distinctio dolorum provident fugiat nesciunt accusantium non laborum molestiae perspiciatis officia impedit vitae, est esse voluptatum aliquam ut sed, similique sint tempore optio officiis? Ad eum error voluptatibus deleniti harum vero dolorum quo voluptatum nam, at officiis ea voluptatem magni dolore nesciunt perferendis? Dolore nisi suscipit voluptatibus minus ut, facere modi debitis.</div>
						</div>
						<div class="col-md-4">
							<img class="img-fluid" src="{% static 'images/commercial.jpg' %}">
						</div>
					</div>
				</div>
				<div class="card">
					<div class="row g-0">
						<div class="col-md-8 p-3">
							<h5 class="card-title text-success"><span class="text-primary">Proffesional</span> 50$/month</h5>
							<div class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore in omnis tenetur veritatis corporis perspiciatis sapiente deleniti accusamus incidunt aliquam quam eaque iusto nostrum placeat, fuga pariatur! Repellat eum, quae magni distinctio dolorum provident fugiat nesciunt accusantium non laborum molestiae perspiciatis officia impedit vitae, est esse voluptatum aliquam ut sed, similique sint tempore optio officiis? Ad eum error voluptatibus deleniti harum vero dolorum quo voluptatum nam, at officiis ea voluptatem magni dolore nesciunt perferendis? Dolore nisi suscipit voluptatibus minus ut, facere modi debitis.</div>
						</div>
						<div class="col-md-4">
							<img class="img-fluid" src="{% static 'images/professional.jpg' %}">
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-1">
			</div>
		</div>
	</section>
